.page {
  /* background: linear-gradient(to right, rgb(49, 85, 107) 50%, #5bb45b);
  height: 100vh; */
  padding: 0;
  margin: 0;
}

.nav__barr-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(11, 11, 11);
  border-bottom: #e7e7e5 1px solid;
  display: flex;
  flex-direction: row;
  z-index: 1;
  align-items: center;
  padding: 10px;
}
.nav__barr-title {
  color: rgb(227, 227, 210);
  margin: 0;
  width: 35%;
  padding: 0;
}
.nav__subcontainer {
  display: flex;
  height: 100%;
  width: 30%;
  margin-right: 30px;
  margin-left: auto;
  justify-content: space-between;
}

.nav__button {
  height: 50px;
  max-width: 1fr;
  color: #fff;
  background-color: #000;
  border-radius: 10%;
  width: 70px;
}

.hero__section {
}
.hero__section_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.dog__image-1 {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
