.hero__text_container {
    display: flex;
    align-items: end;
  }
  .hero__title {
    color: #e7e7e5;
    z-index: 2;
    position: absolute;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    max-width: 80%;
    top: 20%;
    left: 20%;
  }
  .hero__subtitle {
    color: #e7e7e5;
    z-index: 2;
    position: absolute;
    font-family: "Times New Roman", Times, serif;
    width: 50%;
    left: 20%;
    top: 50%;
  }
  .hero__section_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    border: 2px solid black;
  }